body{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: white;
}
header{
    width: 100%;
    text-align: center;
}
h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
ul{
    list-style: none;
}
li{ 
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-top: 10%;
    text-align: center;
    height: 80px;
    width: 100px;
    display: inline-block;
    border: 4px solid gray;
    /* border-radius: 5px; */
    font-size: 2rem;
}
.letterBox{
    background: white;
}
button{
    display: none;
    border: none;
    background: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}
section{
    font-family: 'Ubuntu', sans-serif;
}
#previousGuess{
    padding: 2rem 0;
    width: 40%;
    text-align: center;
    overflow: hidden;
}
#previousGuess span{
    padding: 3%;
    margin: 15px;
    font-size: larger;
    font-weight: bold;
    border: 2px solid lightgray;
}
@media screen and (max-width: 770px) {
   li{
    height: 40px;
    width: 50px;
    border: 2px solid black;
   } 
   body{
       padding: 50px 20px
   }
    
}